/Autosaves/
/BrewedPC/
/Cache/
/Localization/
/Logs/
/Script/
/Src/Development/
/Config/GFXSettings.KFGame.xml
/Config/KFAI.ini
/Config/KFClassicHUD.ini
/Config/KFClassicInput.ini
/Config/KFClassicPlayer.ini
/Config/KFBenchmarking.ini
/Config/KFEditorKeyBindings.ini
/Config/KFEditorUserSettings.ini
/Config/KFEngine.ini
/Config/KFGame.ini
/Config/KFInput.ini
/Config/KFLightmass.ini
/Config/KFMultiAdmin.ini
/Config/KFSystemSettings.ini
/Config/KFTIM.ini
/Config/KFUnofficialMod.ini
/Config/KFUI.ini
/Config/KFWeb.ini
/Config/KFwebadmin.ini
/Config/KFxMapVote.ini
/Config/KFxMapVoteHistory.ini
/Unpublished/BrewedPC/*.upk
/Unpublished/BrewedPC/Script/*.u
